h6{
    color:red;
    text-align: right;

}



div{
    /*background-image : url('pic1.jpg');*/
    background-repeat:no-repeat center center fixed;
    margin-bottom: 5px;

}

p.Format{
    color:red;
}

h2{
    color:Black;
    font-family:Noe Display Regular;
/*    text-decoration: underline;
    text-decoration-color: #feb236;*/

}

#title4 {



    border-bottom: 5px solid #e6b800;
    display: inline-block;
    padding-bottom: 2px;
    margin: 0;

}

#title3 {


    margin-top: 5rem;
    border-bottom: 5px solid #e6b800;
    display: inline-block;
    padding-bottom: 2px;
    margin: 0;


}


h2.EMPHIS{
    color:Black;
    font-family:Noe Display Regular;

}

h4{
    color:Black;
    font-family:Noe Display Regular;
    text-align: right




}



h5{
    color:Black;
    font-family:Noe Display Regular;
}

BUT123{
  display: flex;
}

p.text_title{
    color:black;
    line-height: 24px;
    font-family:Noe Sans
}


p{
    margin: 0;
    padding: 0;

}

label1{
    float:right;
}

input.check1{
    margin: 5px 0px;
    float:right;
    font-family:Noe Sans
}

